/* HOME */
#home {
  background: gray;
  background: url("../images/dad-daughter.jpg") no-repeat 50% 0;
  .panel {
    background: $blue-lightest;
    //background: rgba(255,255,255,0.8);
    border: 0;
    margin-top: 400px;
    margin-bottom: 300px;
    .title-left,
    .title-right {
      color: $white;
      //color: $blue-lightest;
      display: inline-block;
    }
    .title-left {
      text-align: right;
    }
    .title-right {
      font-size: 70px;
      font-weight: 700;
      text-align: left;
    }
  }
}

@media #{$small-only} {
  #home {
    background-size: 100% auto;
    background-position: 0 10%;
    .panel {
      margin-top: 150px;
      margin-bottom: 150px;
    }
  }
}