/* NAVIGATION */
.top-bar {
  background: transparent;
  .name h1 a {
    position: relative;
    padding-top: 6px;
    padding-left: 54px;
    .logo {
      background: url("../images/logo-guy.png");
      background-size: 100% auto;
      height: 52px;
      width: 41px;
      position: absolute;
      top: 6px;
      left: 6px;
    }
    em {
      font-weight: 100;
      font-style: normal;
    }
    span {
      font-size: 25px;
    }
  }
}
.top-bar-section {
  ul li {
    background: transparent;
    > a {
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }
}
.top-bar-section li:not(.has-form) a:not(.button) {
  background: transparent;
}
/*home*/
.top-bar-section li:not(.has-form) a:not(.button):hover {
  background: $blue-lightest;
}
.top-bar-section li.active:not(.has-form) a:not(.button) {
  background: $blue-lightest;
}