/* NAVIGATION */
.top-bar {
  background: transparent;
  .name h1 a {
    position: relative;
    padding-top: 6px;
    padding-left: 54px;
    .logo {
      background: url("../images/logo-guy.png");
      background-size: 100% auto;
      height: 52px;
      width: 41px;
      position: absolute;
      top: 6px;
      left: 6px;
    }
    em {
      font-weight: 100;
      font-style: normal;
    }
    span {
      font-size: 25px;
    }
  }
}
.top-bar-section {
  ul li {
    background: transparent;
    > a {
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }
}
.top-bar-section li:not(.has-form) a:not(.button) {
  transition: background-color 0.2s ease;
  background: transparent;
}

/* Special Nav Colors */
/*home*/
.top-bar-section.home li:not(.has-form) a:not(.button):hover {
  background: $blue-lightest;
}
.top-bar-section.home li.active:not(.has-form) a:not(.button) {
  background: $blue-lightest;
}
/*services*/
.top-bar-section.services li:not(.has-form) a:not(.button):hover {
  background: $pink-medium;
}
.top-bar-section.services li.active:not(.has-form) a:not(.button) {
  background: $pink-medium;
}
/*about*/
.top-bar-section.about li:not(.has-form) a:not(.button):hover {
  background: $purple-light;
}
.top-bar-section.about li.active:not(.has-form) a:not(.button) {
  background: $purple-light;
}
/*space*/
.top-bar-section.space li:not(.has-form) a:not(.button):hover {
  background: $green;
}
.top-bar-section.space li.active:not(.has-form) a:not(.button) {
  background: $green;
}
/*contact*/
.top-bar-section.contact li:not(.has-form) a:not(.button):hover {
  background: $teal-lightest;
}
.top-bar-section.contact li.active:not(.has-form) a:not(.button) {
  background: $teal-lightest;
}