/* SERVICES */
#services {
  background: $pink-dark;
  h1,h2,h3,p {
    color: $white;
  }
  .panel {
    background: transparent;
    border: 0;
    .lead em, p {
      color: $pink-light;
      font-style: normal;
    }
  }
  .card {
    background: $pink-medium;
  }
  [class*="icon-"] {
    position: absolute;
    &[class$="-massage"] {
      background: url("../images/massage.png") no-repeat 0 0;
      background-size: 100% auto;
      height: 40px;
      width: 76px;
      top: 26px;
      left: 8px;
    }
    &[class$="-chiropractic"] {
      background: url("../images/chiropractic.png") no-repeat 0 0;
      background-size: 100% auto;
      height: 68px;
      width: 40px;
      top: 15px;
      left: 28px;
    }
    &[class$="-exercise"] {
      background: url("../images/exercise.png") no-repeat 0 0;
      background-size: 100% auto;
      height: 67px;
      width: 45px;
      top: 13px;
      left: 27px;
    }
    &[class$="-enhancement"] {
      background: url("../images/enhancement.png") no-repeat 0 0;
      background-size: 100% auto;
      height: 70px;
      width: 54px;
      top: 16px;
      left: 21px;
    }
  }
}

@media #{$medium-up} {
  #services {
    background: url("../images/bg-services.jpg") no-repeat 50% 0;
    background-size: 100% auto;
  }
}