// bower:scss
// endbower

// Custom imports & styles here.
$white: #ffffff;
$pink: #c45158; 
$pink-button: #df5c64;
$pink-lightest: #ff8973;
$pink-lighter: #df5c64;
$pink-light: #ffcccf;
$pink-medium: #c8535a;
$purple: #665464;
$purple-lightest: #e5d1e3;
$green: #a1ca6c;
$teal: #75b4aa;
$teal-light: #c0dfda;
$teal-dark: #68a097;
$blue-lightest: #74c7d5;

body, h1,h2,h3,h4,h5,h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-align: center;
  p {
    font-size: 10px;
  }
}

h1,h3 {
  font-weight: 100;
  text-transform: uppercase;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 14px;
}

/* CARD COMPONENT */
.card {
  border-radius: 8px;
  padding: 6px;
  padding-top: 20px;
  margin-bottom: 20px;
  min-height: 300px;
  .circle {
    background: $white;
    border-radius: 100%;
    border: 3px solid $white;
    height: 100px;
    width: 100px;
    margin: 10px auto 6px;
    position: relative;
    box-shadow: inset 0 0 0 3px $pink
  }
  .title {
    font-size: 20px;
    text-transform: uppercase;  
  }
}

@import "_navigation.scss";

/* SECTIONS */
.section {
  padding-top: 60px;
  padding-bottom: 120px;
}


@import "_home.scss";
@import "_about.scss";
@import "_contact.scss";

/* SPACE */

/* CONTACT */