body {
  background: #999; }

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-align: center; }
  body p, body li, h1 p, h1 li, h2 p, h2 li, h3 p, h3 li, h4 p, h4 li, h5 p, h5 li, h6 p, h6 li {
    font-size: 14px; }

h1, h3 {
  font-weight: 100;
  text-transform: uppercase; }

@media only screen and (max-width: 40em) {
  h1 {
    font-size: 20px; }
  h2 {
    font-size: 16px; } }

@media only screen and (min-width:40.063em) {
  h1 {
    font-size: 34px; }
  h2 {
    font-size: 20px; } }

/* CARD COMPONENT */
.card {
  border-radius: 8px;
  padding: 6px;
  padding-top: 20px;
  margin-bottom: 20px;
  min-height: 300px; }
  .card .circle {
    background: #ffffff;
    border-radius: 100%;
    border: 3px solid #ffffff;
    height: 100px;
    width: 100px;
    margin: 10px auto 6px;
    position: relative;
    box-shadow: inset 0 0 0 3px #c45158; }
  .card .title {
    font-size: 20px;
    text-transform: uppercase; }

/* NAVIGATION */
.top-bar {
  height: 60px; }
  .top-bar .name h1 a {
    position: relative;
    padding-top: 6px;
    padding-left: 54px; }
    .top-bar .name h1 a .logo {
      background: url("../images/logo-guy.png");
      background-size: 100% auto;
      height: 52px;
      width: 41px;
      position: absolute;
      top: 6px;
      left: 6px; }
    .top-bar .name h1 a em {
      font-weight: 100;
      font-style: normal; }
    .top-bar .name h1 a span {
      font-size: 25px; }

.top-bar-section ul li {
  /*background: transparent;*/ }
  .top-bar-section ul li > a {
    height: 60px;
    /*border-bottom-left-radius: 6px;*/
    /*border-bottom-right-radius: 6px;*/ }

.top-bar-section li.active:not(.has-form) a:not(.button), .top-bar-section li:not(.has-form) a:not(.button) {
  line-height: 60px; }

.top-bar-section li:not(.has-form) a:not(.button) {
  transition: background-color 0.2s ease;
  /*background: transparent;*/ }

/* Special Nav Colors */
/*home*/
.top-bar-section.home li:not(.has-form) a:not(.button):hover {
  background: #74c7d5; }

.top-bar-section.home li.active:not(.has-form) a:not(.button) {
  background: #74c7d5; }

/*services*/
.top-bar-section.services li:not(.has-form) a:not(.button):hover {
  background: #c8535a; }

.top-bar-section.services li.active:not(.has-form) a:not(.button) {
  background: #c8535a; }

/*about*/
.top-bar-section.about li:not(.has-form) a:not(.button):hover {
  background: #91778e; }

.top-bar-section.about li.active:not(.has-form) a:not(.button) {
  background: #91778e; }

/*space*/
.top-bar-section.space li:not(.has-form) a:not(.button):hover {
  background: #a1ca6c; }

.top-bar-section.space li.active:not(.has-form) a:not(.button) {
  background: #a1ca6c; }

/*contact*/
.top-bar-section.contact li:not(.has-form) a:not(.button):hover {
  background: #82c8bd; }

.top-bar-section.contact li.active:not(.has-form) a:not(.button) {
  background: #82c8bd; }

/* SECTIONS */
@media only screen and (min-width:40.063em) {
  .section {
    padding-top: 60px;
    padding-bottom: 120px; } }

/* HOME */
#home {
  background: gray;
  background: url("../images/dad-daughter.jpg") no-repeat 50% 0;
  background-size: 100% auto; }
  #home .panel {
    /*background: $blue-lightest;*/
    /*background: rgba(255,255,255,0.3);*/
    background: rgba(116, 199, 213, 0.8);
    border: 0; }
    #home .panel .title-left, #home .panel .title-right {
      color: #ffffff;
      display: inline-block; }
    #home .panel .title-left {
      font-size: 30px;
      text-align: right; }
    #home .panel .title-right {
      font-size: 70px;
      font-weight: 700;
      text-align: left; }

@media only screen and (max-width: 40em) {
  #home {
    background-size: 100% auto;
    background-position: 0 10%; }
    #home .panel {
      margin-top: 50px;
      margin-bottom: 10px; }
      #home .panel .title-left {
        text-align: center; }
      #home .panel .title-right {
        font-size: 40px; } }

@media only screen and (min-width:40.063em) and (max-width:64em) {
  #home {
    background-size: 100% auto;
    background-position: 0 10%; }
    #home .panel {
      margin-top: 30px;
      margin-bottom: 0px; } }

@media only screen and (min-width:64.063em) and (max-width:90em) {
  #home {
    background-size: 100% auto;
    background-position: 0 10%; }
    #home .panel {
      margin-top: 175px;
      margin-bottom: 155px; } }

@media only screen and (min-width:90.063em) {
  #home {
    background-size: 100% auto;
    background-position: 0 10%; }
    #home .panel {
      margin-top: 350px;
      margin-bottom: 250px; } }

/* ABOUT */
#about {
  background: #665464; }
  #about .panel {
    background: transparent;
    border: 0; }
    #about .panel h1 {
      color: #ffffff; }
    #about .panel p {
      color: #e5d1e3; }
  #about .pointer {
    background: #a1ca6c;
    border-radius: 4px;
    padding: 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 53px; }
    #about .pointer:before {
      content: '';
      position: absolute;
      bottom: -16px;
      left: 50%;
      margin-left: -14px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 16px 14px 0 14px;
      border-color: #a1ca6c transparent transparent transparent; }
  #about .card {
    background: rgba(76, 63, 75, 0.8);
    padding-top: 30px;
    padding-bottom: 30px; }
    #about .card .circle {
      border-color: #df5c64;
      box-shadow: inset 0 0 0 2px #ffffff;
      height: 150px;
      width: 150px; }
    #about .card .dr-dixie {
      background: url("../images/dr-dixie.png") no-repeat 0 0;
      background-size: 100% auto;
      height: 140px;
      width: 140px;
      top: 2px;
      left: 2px;
      position: absolute; }
    #about .card .title {
      color: #ffffff;
      font-weight: 700; }
    #about .card .description {
      color: #ff8973; }
    #about .card .social {
      width: 100px;
      margin: 0 auto; }
    #about .card .icon {
      transition: -webkit-transform 0.2s ease-in-out;
      transition: transform 0.2s ease-in-out;
      -webkit-transform: scale(1);
      transform: scale(1);
      cursor: pointer;
      display: inline-block;
      height: 31px;
      width: 31px; }
      #about .card .icon a {
        display: inline-block;
        text-indent: -119988px;
        height: 31px;
        width: 31px; }
      #about .card .icon.facebook a {
        background: url("../images/facebook.png") no-repeat 0 0;
        background-size: 100% auto;
        margin-right: 8px; }
      #about .card .icon.linkedin a {
        background: url("../images/linkedin.png") no-repeat 0 0;
        background-size: 100% auto; }
      #about .card .icon:hover {
        -webkit-transform: scale(1.2);
        transform: scale(1.2); }

@media only screen and (min-width:40.063em) {
  #about {
    background: url("../images/bg-about.jpg") no-repeat 50% 0;
    background-size: 100% auto; } }

/* SERVICES */
#services {
  background: #b34a4f; }
  #services h1, #services h2, #services h3, #services p {
    color: #ffffff; }
  #services .panel {
    background: transparent;
    border: 0; }
    #services .panel .lead em, #services .panel p {
      color: #ffcccf;
      font-style: normal; }
  #services .card {
    background: #c8535a; }
  #services [class*="icon-"] {
    position: absolute; }
    #services [class*="icon-"][class$="-massage"] {
      background: url("../images/massage.png") no-repeat 0 0;
      background-size: 100% auto;
      height: 40px;
      width: 76px;
      top: 26px;
      left: 8px; }
    #services [class*="icon-"][class$="-chiropractic"] {
      background: url("../images/chiropractic.png") no-repeat 0 0;
      background-size: 100% auto;
      height: 68px;
      width: 40px;
      top: 15px;
      left: 28px; }
    #services [class*="icon-"][class$="-exercise"] {
      background: url("../images/exercise.png") no-repeat 0 0;
      background-size: 100% auto;
      height: 67px;
      width: 45px;
      top: 13px;
      left: 27px; }
    #services [class*="icon-"][class$="-enhancement"] {
      background: url("../images/enhancement.png") no-repeat 0 0;
      background-size: 100% auto;
      height: 70px;
      width: 54px;
      top: 16px;
      left: 21px; }

@media only screen and (min-width:40.063em) {
  #services {
    background: url("../images/bg-services.jpg") no-repeat 50% 0;
    background-size: 100% auto; } }

/* SPACE */
#space {
  background: #81a256; }
  #space .panel {
    background: transparent;
    border: 0; }
    #space .panel h1, #space .panel p, #space .panel li {
      color: #ffffff; }
    #space .panel p {
      margin-bottom: 5px; }
    #space .panel ul {
      display: inline-block; }
  #space .spaces h3 {
    color: #ffffff;
    float: left;
    font-size: 14px;
    font-weight: 400; }
  #space .spaces .tabs {
    float: right; }
    #space .spaces .tabs dd > a, #space .spaces .tabs .tab-title > a {
      background: transparent;
      border-radius: 4px;
      color: #ffffff;
      padding: 5px 10px;
      min-width: 80px;
      font-size: 12px;
      transition: background-color 0.2s ease; }
      #space .spaces .tabs dd > a:hover, #space .spaces .tabs .tab-title > a:hover {
        background: #f5c149; }
    #space .spaces .tabs dd.active > a, #space .spaces .tabs .tab-title.active > a {
      background: #f5c149; }
  #space .spaces #panel-yoga-schedule > div, #space .spaces #panel-gallery ul {
    margin-top: 30px; }
  #space .spaces #panel-gallery li {
    position: relative; }
    @media only screen and (max-width: 40em) {
      #space .spaces #panel-gallery li {
        margin-bottom: 10px; } }
    #space .spaces #panel-gallery li:hover {
      cursor: pointer; }
      #space .spaces #panel-gallery li:hover .overlay {
        opacity: 0.7; }
      #space .spaces #panel-gallery li:hover .pic-title {
        height: 4em; }
  #space .spaces #panel-gallery .overlay {
    background-color: #000;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
    height: 200px;
    width: 200px;
    margin: 0 10px;
    position: absolute;
    top: 0;
    left: 0; }
  #space .spaces #panel-gallery .pic-title {
    transition: height 0.2s ease-in-out;
    background: #ffffff;
    color: #000;
    line-height: 3em;
    height: 3em;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    margin: 0 10px; }
    #space .spaces #panel-gallery .pic-title:before {
      content: '';
      position: absolute;
      top: -16px;
      left: 50%;
      margin-left: -14px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 14px 16px 14px;
      border-color: transparent transparent #ffffff transparent; }
  #space .spaces .tg {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #bbb;
    width: 100%; }
    #space .spaces .tg th, #space .spaces .tg td {
      border: 1px solid #bbb;
      font-family: Arial, sans-serif;
      font-size: 14px;
      overflow: hidden;
      word-break: normal; }
    #space .spaces .tg th {
      font-weight: normal;
      padding: 10px 5px;
      background-color: #a1ca6c;
      color: #493F3F; }
    #space .spaces .tg td {
      padding: 10px 5px;
      background-color: #E0FFEB;
      color: #594F4F; }
    #space .spaces .tg .tg-e3zv {
      font-weight: bold; }

@media only screen and (min-width:40.063em) {
  #space {
    background: url("../images/bg-space.jpg") no-repeat 50% 0;
    background-size: 100% auto; } }

/* CONTACT */
#contact {
  background: #75b4aa; }
  #contact .panel {
    background: transparent;
    border: 0; }
    #contact .panel h1, #contact .panel p {
      color: #ffffff; }
  #contact .information h2, #contact .information h3, #contact .information p, #contact .form h2, #contact .form h3, #contact .form p {
    color: #ffffff;
    text-align: left; }
  #contact .information h2, #contact .form h2 {
    font-size: 20px;
    font-weight: 100; }
  #contact .information h3 {
    color: #c0dfda;
    font-size: 12px;
    font-weight: 700; }
  #contact .information .title {
    color: #c0dfda;
    margin-right: 20px; }
    #contact .information .title.fax {
      margin-right: 33px; }
  #contact .information .value a {
    color: #ffffff;
    text-decoration: underline; }
    #contact .information .value a:hover {
      text-decoration: none; }
  #contact .form label span {
    display: none; }
  #contact .form input[type="text"], #contact .form input[type="email"], #contact .form textarea {
    background: #68a097;
    border-radius: 4px;
    border: 0;
    box-shadow: none;
    color: #75b4aa; }
    #contact .form input[type="text"]::-webkit-input-placeholder, #contact .form input[type="email"]::-webkit-input-placeholder, #contact .form textarea::-webkit-input-placeholder {
      color: #75b4aa; }
    #contact .form input[type="text"]:-moz-placeholder, #contact .form input[type="email"]:-moz-placeholder, #contact .form textarea:-moz-placeholder {
      /* Firefox 18- */
      color: #75b4aa; }
    #contact .form input[type="text"]::-moz-placeholder, #contact .form input[type="email"]::-moz-placeholder, #contact .form textarea::-moz-placeholder {
      /* Firefox 19+ */
      color: #75b4aa; }
    #contact .form input[type="text"]:-ms-input-placeholder, #contact .form input[type="email"]:-ms-input-placeholder, #contact .form textarea:-ms-input-placeholder {
      color: #75b4aa; }
    #contact .form input[type="text"]:active, #contact .form input[type="text"]:focus, #contact .form input[type="email"]:active, #contact .form input[type="email"]:focus, #contact .form textarea:active, #contact .form textarea:focus {
      background: #ffffff;
      color: black; }
  #contact .form textarea {
    height: 168px; }
  #contact .form input[type="submit"].button {
    background: #df5c64;
    border-radius: 4px;
    border-bottom: 3px solid #c8535a;
    text-transform: uppercase;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 200px; }
    #contact .form input[type="submit"].button:hover {
      margin-top: 3px;
      border: 0; }

@media only screen and (min-width:40.063em) {
  #contact {
    background: url("../images/bg-contact.jpg") no-repeat 50% 0;
    background-size: 100% auto; } }

/* SPACE */
/* CONTACT */