@import '../config/_variables.scss';

bc-header {
    .bc-header__container {
        background-color: $black-20;
        height: 60px;
        display: flex;
        justify-content: space-between;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: #000;
            opacity: 0;
            z-index: -1;
            transition: opacity 0.2s ease;
        }
        &.is-active {
            &::before {
                opacity: 0.7;
                z-index: 1;
                transition: opacity 0.2s ease;
            }
        }
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        &.bc-header__title-link {

        }
        &.bc-header__nav-links {
            position: fixed;
            flex-flow: column;
            justify-content: flex-start;
            top: 0;
            left: 0;
            bottom: 0;
            right: 30%;
            background-color: $black-20;
            transform: translate3d(-100%, 0%, 0);
            transition: transform 0.2s ease-in-out;
            &.is-active {
                transform: translate3d(0%, 0, 0);
                transition: transform 0.2s ease-in-out;
                z-index: 1;
            }
        }
    }
    li {
        margin: 0;
        padding: 0;
        display: inline-block;
        color: #fff;
        flex: 0 1 auto;
        min-width: 100px;
        text-align: center;
        &.bc-header__mobile-nav-icon {
            font-size: 24px;
            background-color: $black-20;
            transform: translate3d(0, 0%, 0);
            transition: transform 0.2s ease-in-out;
            &.is-active {
                transform: translate3d(250%, 0, 0);
                transition: transform 0.2s ease-in-out;
                position: relative;
                z-index: 1;
            }
        }
    }
    i {
        display: inline-block;
        width: 100%;
        &.fa.fa-bars {
            line-height: 60px;
        }
    }
    a {
        position: relative;
        color: #fff;
        text-decoration: none;
        display: inline-block;
        width: 100%;
        line-height: 60px;
        transition: background-color 0.2s ease;
        &.logo-container {
            .logo--image {
                display: none;
            }
            .logo--text {
                font-size: 1.0625rem;
                text-transform: uppercase;
            }
        }
        em {
            font-weight: 100;
            font-style: normal;
        }
        span {
            font-size: 25px;
        }
    }
    @media screen and (min-width: 768px) {
        ul {
            &.bc-header__nav-links {
                flex-flow: row;
                position: static;
                justify-content: center;
                transform: translate3d(0, 0, 0);
            }
        }
        li {
            &.bc-header__mobile-nav-icon {
                display: none;
            }
        }
        a {
            &.logo-container {
                display: flex;
                align-items: center;

                .logo--image {
                    display: block;
                    flex: 0 1 auto;
                    background-image: url("../images/logo-guy.png");
                    background-size: 100% auto;
                    height: 52px;
                    width: 41px;
                }
                .logo--text {
                    flex: 0 1 auto;
                }
            }
            &.home {
                &:hover {
                    background-color: $home;
                }
            }
            &.about {
                &:hover {
                    background-color: $about;
                }
            }
            &.services {
                &:hover {
                    background-color: $services;
                }
            }
            &.space {
                &:hover {
                    background-color: $space;
                }
            }
            &.contact {
                &:hover {
                    background-color: $contact;
                }
            }
        }
    }
    @media screen and (min-width: 768px) {
        position: fixed;
        width: 100%;
    }
}